# Node modules
node_modules/

# Environment variables
.env

# Database files
*.db
*.db-journal

# Logs
*.log

# Build files
dist/

# OS specific files
.DS_Store
Thumbs.db

# IDE files
.idea/
.vscode/
